body {
  background-color: #f3f3f3;
}

.start {
  padding: 5px;
  text-align: center;
  font-size: 16px;
}

.main-heading {
  text-align: center;
}

.main-heading p {
  margin-top: 0;
}

.main-heading h1 {
  margin-bottom: 5px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.start-container {
  width: 50%;
  margin: 0 auto;
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.question-container {
  max-width: 80%;
  margin: 0 auto;
}

.question-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-heading-container h2 {
  flex-basis: 80%;
}

.hidden {
  display: none;
}

.option {
  flex: 1;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  display: flex;
  align-items: center;
}

.option .button {
  width: 100%;
  height: 100%;
  padding: 10px 7px;
  border: 3px solid lightgray;
  text-align: left;
  background-color: #f3f3f3;
  font-size: 14px;
}

.option .button:active {
  outline: none;
}

.icon {
  position: absolute;
  left: -30px;
  font-size: 25px;
}

.answer .icon {
  color: green;
}

.wrong .icon {
  color: red;
}

.answer .button {
  border: 2px solid green;
}

.wrong .button {
  border: 2px solid red;
}

.progress-button {
  margin-left: 15px;
  display: inline-block;
  height: 40px;
  border: 3px solid lightgray;
  background-color: #f3f3f3;
  font-size: 16px;
  font-weight: 600;
}

